target/
.metadata/
.settings
.classpath
.project
.idea
*.iml
btm1.tlog
btm2.tlog
demo-intellij*.log
*ide-plugin.xml
webapp/META-INF/MANIFEST.MF
mqjms.log*
node_modules
typings
dist
rest.d.ts
*.ngstyle.ts
*.ngsummary.json
*.ngfactory.ts
jqassistant/*.png
jqassistant/.asciidoctor/
demo-intellij-frontend/reports/unit-tests.xml
demo-intellij-frontend/package-lock.json
demo-intellij-frontend/coverage/
demo-intellij-frontend/.angular
demo-intellij-frontend/src/environments/version.ts
/demo-intellij-backend/src/main/resources/git.properties
package-lock.json

